* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero {
    background-image: url('/fundo-verde-azul.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div que contém imagem e textos */
.hero__conteudo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.hero__conteudo {
    animation: slideLeft linear;
    animation-timeline: scroll();
    animation-range: 0 500px;
}

@keyframes slideLeft {
    to {
        transform: translateX(-150%);
        opacity: 0;
    }
}

/* Imagem */
.hero__img {
    height: 120px;
    width: auto;
}


/* Container de textos */
.hero__textos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Título principal */
.hero__titulo {
    font-size: 2.3rem;
    font-weight: 650;
    color: #ffffff;
}

/* Subtítulo */
.hero__sutitulo {
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

.hero__botao {
    margin-top: 15px;
    padding: 10px 60px;
    background-color: #ffffff00;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero__botao:hover {
    background-color: #2c5d9a75;
}

.pesquisa{

}

@media (min-width: 769px) {
    .hero {
        display: flex;
        justify-content: start;
        align-items: end;
        padding-bottom: 7rem;
        padding-left: 4rem;
    }

    .hero__img {
        height: 200px;
        width: auto;
    }

    .hero__titulo{
        font-size: 4rem;
    }

    .hero__sutitulo{
        font-size: 1.5rem;
    }
    
    
}