
.favoritos-main{
    padding-top: 8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.favoritos{
    background-color: rgb(228, 228, 228);
}
.titulo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.titulo img{
    width: 40px;
}
.semfavoritos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
    margin-bottom: 8rem;
}
.semfavoritos h3{
    font-size: 1.5rem;
    color: #093c77;
}
.semfavoritos p{
    color: rgb(87, 87, 87);
    font-size: 1.2rem;
    text-align: center;
}
.coracaoquebrado{
    width: px;
    padding: 20px;
    border-radius: 30px;
}
.botao{
    background-color: rgba(124, 124, 244, 0.277);
    border-radius: 50%;
}
.botao link{
   text-decoration: none;

}
.botao img{
    width: 80px;
    padding: 20px;
}