.footer{
    background-color: #07adc7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}
.footer__logo{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.footer__logo div{
    display: flex;
    align-items: start;
    gap: 2px;

}
.footer__logo p{
    color: white;
}
.footer__logo img{
    width: 40px;
}
.footer__logo h2{
    color: white;
}
.nav_menu span {
    color: white;
    padding-left: 5px;
}
.nav_menu ul{
    list-style: none;
    padding: 3rem;
}
.nav_menu li{
    gap: 3px;
}
@media (max-width: 769px) {
    .footer{
        padding: 12rem 0;
    }
    .footer__logo{
        gap: 0.7rem;
    }
}